<div class="demo-login-form">
  <div class="demo-login-form__header">Log in</div>
  <form
    class="demo-login-form__form"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit(loginForm.value)"
  >
    <label for="email">Email</label>
    <input
      daff-input
      id="email"
      type="email"
      autocomplete="email"
      name="email"
    />
    <label for="password">Password</label>
    <input
      daff-input
      id="password"
      type="password"
      autocomplete="password"
      name="password"
    />
    <button
      daff-button
      type="submit"
    >Login</button>
  </form>
</div>
