<div class="demo-signup-form">
  <div class="demo-signup-form__header">Sign up</div>
  <form
    class="demo-signup-form__form"
    [formGroup]="signupForm"
    (ngSubmit)="onSubmit(signupForm.value)"
  >
    <label for="firstName">First Name</label>
    <input
      daff-input
      id="firstName"
      autocomplete="given-name"
      type="text"
      name="firstName"
    />
    <label for="lastName">Last Name</label>
    <input
      daff-input
      id="lastName"
      autocomplete="family-name"
      type="text"
      name="lastName"
    />
    <label for="email">Email</label>
    <input
      daff-input
      id="email"
      type="email"
      autocomplete="email"
      name="email"
    />
    <label for="password" daffFormLabel>Create Password</label>
    <input
      daff-input
      id="password"
      type="password"
      autocomplete="new-password"
      name="password"
    />
    <label for="confirm-password" daffFormLabel>Confirm Password</label>
    <input
      daff-input
      id="confirm-password"
      type="password"
      name="confirm-password"
    />
    <button
      daff-button
      type="submit"
    >Create account</button>
  </form>
</div>
